.primary-button {
  padding: 8px 16px;
  border-radius: 6px;
  background-color: rgb(89, 89, 89);
  color: whitesmoke;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    background-color: rgba(89, 89, 89, 0.702);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
    cursor: pointer;
  }
}